@model IEnumerable<Key_Castle_Models.Product>

<div class="container p-3 bg-white">
    <div class="row p-4">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Upsert" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Create New Product
            </a>
        </div>
    </div>
</div>

<br />
<br />

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Photo</th>
                <th>Price</th>
                <th>Short Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
            <tr>
                <td width="5%">@obj.Product_id</td>
                <td width="15%">@obj.Product_name</td>
                <td width="15%">@obj.Category_id</td>
                <td width="5%">@obj.Qty</td>
                <td width="20%"><img src="~/images/product/@obj.Product_photo" width="100" style="border-radius:5px; border:1px solid #bbb" /></td>
                <td width="10%">@obj.Price</td>
                <td width="30%">@obj.Short_Desc</td>
                <td class="text-center">
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Product" asp-route-Id="@obj.Product_id" asp-action="Upsert" class="btn btn-primary mx-2">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a asp-controller="Product" asp-route-Id="@obj.Product_id" asp-action="Delete" class="btn btn-danger mx-2">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nothing</p>
}




