@page
@model RegisterModel
@using Key_Castle_Utility

<div class="content " style="background-image: url('https://www.wallpapertip.com/wmimgs/80-805348_game-wallpapers-hd-collection-for-free-download-gaming.jpg'); width: 100%; height: 100%; background-size: 100%; ">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-6 contents pt-5" style="border-radius: 10px; box-shadow: 0px 0px 10px 0px #808080;">
                <div class="row justify-content-center">
                    <div class="col-md-12">

                        <section>
                            <form asp-route-returnUrl="@Model.ReturnUrl" id="account" method="post">
                                @if (User.IsInRole(WC.AdminRole))
                                {
                                    <h1 style="color:aliceblue" class="text-center">Register an Admin Account</h1>
                                }
                                else
                                {
                                    <h1 style="color:aliceblue" class="text-center">Register</h1>
                                }
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label style="color:aliceblue" asp-for="Input.Email"></label>
                                    <input style="color:aliceblue" asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label style="color:aliceblue" asp-for="Input.Password"></label>
                                    <input style="color:aliceblue" asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label style="color:aliceblue" asp-for="Input.ConfirmPassword"></label>
                                    <input style="color:aliceblue" asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label style="color:aliceblue" asp-for="Input.PhoneNumber"></label>
                                    <input style="color:aliceblue" asp-for="Input.PhoneNumber" class="form-control" />
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>

                                @if (User.IsInRole(WC.AdminRole))
                                {
                                    <button type="submit" class="btn btn-pill text-white btn-block btn-primary">Register Admin User</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-pill text-white btn-block btn-primary">Register</button>
                                }



                            </form>
                        </section>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                        <section>

                            @{
                                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                {
                                    <div>
                                        <p>

                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div>
                                            <p>
                                                @foreach (var provider in Model.ExternalLogins)
                                                {
                                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                }
                                            </p>
                                        </div>
                                    </form>
                                }
                            }
                        </section>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
